{{page-title "Recipes"}}
    <div class="">
        <div class="input-group mb-3">
  <input type="text" value={{value}} class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
</div>
    </div>
        {{#each model as |recipe|}}
            <Card @recipe={{recipe}}/>
        {{/each}}
{{outlet}}